[Unit]
Description=TTYD
After=syslog.target
After=network.target

[Service]
ExecStart=/usr/bin/ttyd -i lo -p 37681 -u 1000 -g 1000 -w /home/cc -m 1 -t fontSize=16 -S -K /home/cc/.config/ttyd/ttyd.pem -C /home/cc/.config/ttyd/ttyd.crt -W zsh
Type=simple
#Restart=always
User=cc
Group=cc

[Install]
WantedBy=multi-user.target
